.tags-area {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    gap: 25px;
    width: 60%;
    padding: 10px;
    margin: 0 auto 50px auto;
    background-color: var(--main-color-1);
    text-align: center;
}

.tags-area h2 {
    color: var(--text--color-active);
}

.forum-question {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.7fr 8fr 1fr;
    margin-bottom: 50px;
    background-color: var(--main-color-1);
    color: white;
    padding: 10px;
}

.forum-question:hover {
    background-color: var(--main-color-2);
    transform: scale(1.01);
}

.forum-question__content {
    border-left: 1px solid var(--text--color-active);
    border-right: 1px solid var(--text--color-active);
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.forum-question a {
    text-decoration: none;
    color: var(--text--color-active)
}

.forum-counters {
    align-self: center;
    padding: 10px;
}

.forum-poster {
    font-size: 11px;
}

.forum-poster__avatar, .post-poster__avatar {
    width: 40px;
}

.forum-poster__asked {
    text-align: center;
}

.forum-posterinfo{
    display: flex;
    justify-content: center;
}

.forum-posterinfo * {
    margin: 3px;
}

.forum-poster__name {
    align-self: center;
}

@media (max-width: 700px) { 

    h2 {
        font-size: 18px;
    }

    .tags-area {
        width: 80%;
        grid-template: 1fr / 1fr 1fr;
        gap: 15px;
    }

    .forum-question {
        width: 90%;
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        /* grid-template-columns: 0.7fr 8fr 1fr; */
    }

    .forum-question__content {
        border-left: none;
        border-right: none;
        order: 1;
        grid-column: span 2;
        border-top: solid 1px var(--text--color-active);
        margin-top: 10px;
    }

}