.form-add-question {
    width: 60%;
}

.form-add-question fieldset {
    background-color: var(--main-bg-color);
    border: var(--text--color-active) solid 1px;
    display: flex;
    align-items: center;
    font-family: var(--main-text-font);
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--text--color-active);
}

.form-add-question fieldset input {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    border: none;
    color: white;
    font-family: var(--main-text-font);
    font-size: 15px;
    background-color: var(--main-bg-color);
}

.form-add-question fieldset input:hover{
    outline: none;
}

.form-add-question button {
    margin-right: 10px;
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: var(--main-bg-color);
    color: white;
    padding: 5px 10px;
}

.form-add-question button:hover {
    background-color: var(--text--color-active);
    color: var(--main-bg-color);
    cursor: pointer;
    transform: scale(1.02);
}
