.question {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template: 1fr/ 8fr 2fr;
    background-color: var(--main-color-1);
    color: white;
}

.question-header {
    grid-row: 1;
    grid-column: span 2;
    padding: 0 2%;
}

.question-header h1 {
    font-size: 26px;
}

.question-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: max-content;
}

.question-details * {
    padding: 5px;
}

.question-poster, .answer-poster {
    display: flex;
}

.question-poster__name, .answer-writer span {
    font-size: 10px;
    align-self: flex-start;
}

.question-header hr {
    width: 90%;
}

.question-side {
    grid-row: 2;
    grid-column: 2;
    padding-left: 5%;
}

.question-body {
    grid-row: 2;
    grid-column: 1;
    padding: 5px;
}

.question-content {
    padding-left: 3%;
}

.question-tags {
    margin: 10px 0;
}

.question-tags button {
    border: 1px solid var(--text--color-active);
    padding: 5px 10px;
    color: white;
    background-color: var(--main-bg-color);
    border-radius: 12px;
    margin-right: 10px;
    font-family: var(--main-text-font);
}

.question-tags button:hover {
    transform: scale(1.05);
    font-weight: bolder;
}


