:root {
    --main-bg-color: #202124;
    --main-color-1: #3E2C41;
    --main-color-2: #5C527F;
    --main-color-3: #6E85B2;
    --main-navbar-text-color: rgba(255,255,255,0.8);
    --main-navbar-text-hover: rgba(255,255,255,0.95);
    --main-text-font : 'Ubuntu Mono', monospace;
    --selected-tag-bg: rgb(22, 129, 49);
    --text--color-active: greenyellow; 
    --question-bg-color: rgba(170, 192, 197,0.6);
    --question-bg-color-hover: rgba(108, 193, 212, 0.8);
    --question-link-color: rgb(32, 44, 218);
    --answer-bg-color: rgb(225,225,225);
    --answer-bg-color-hover: rgba(214, 214, 181, 0.8);
  }

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    color: var(--answer-bg-color);
    }

body {
  background-color: var(--main-bg-color)
}


