.search-tags {
    background-color: var(--main-bg-color);
    border: var(--text--color-active) 1px solid;
    padding: 10px;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    grid-auto-rows: 1fr;
    row-gap: 10px;
}

.search-tags div {
    border: none;
    color: white;
    margin: 5px auto;
    padding: 2px 5px;
    min-width: 80px;
    background-color: var(--main-color-1);
} 

.search-tags div:hover {
    transform: scale(1.05);
    font-weight: bold;
    cursor: pointer;
    background-color: var(--main-color-2);
}
